:root {
	--height: 100vh;
	--heading-font: 'India Rose', cursive;
	--text-font: 'Open Sans', sans-serif;
	// --title-height: 90vh;
	--dark-blue: #09224E;
	--beige: #BDBFA3;
	--baby-blue: #B6E2D3;
	--spearmint: #61C2A2;
}